@import url('https://fonts.googleapis.com/css?family=Ubuntu');
html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Ubuntu', sans-serif;
  background-color: #ccc;
  background-image: linear-gradient(#333 30%, #ccc 30%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container {
  height: auto;
}

section {
  width: 60%;
  background-color: #fff;
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
}
section.experience {
  width: 70%;
  padding: 20px;
}
section.experience div#loading-content {
  width: 100%;
  text-align: center;
}
@media only screen and (max-width: 800px) {
  section {
    width: 100% !important;
    padding: 5px 5px 20px 50px !important;
  }
  section img#user-photo {
    display: none;
  }

  section.experience table {
    width: 90% !important;
  }
  section.experience #exp-title {
    margin-top: 10px !important;
  }
}
