@import url('https://fonts.googleapis.com/css?family=Ubuntu');
html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Ubuntu', sans-serif;
  font-size: 13pt;
  background-color: #3f4051;
}

.btn-theme {
  float: right;
  position: fixed;
  right: 0px;
  background-color: #008c8c;
  border-radius: 5px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  transition: 0.1s;
}
.btn-theme:hover {
  background: #009999;
}

.container {
  height: auto;
}

section {
  width: 70%;
  background-color: #eee;
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  border-radius: 10px;
  padding: 20px;
  -webkit-box-shadow: 4px 0px 9px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 4px 0px 9px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 4px 0px 9px 2px rgba(0, 0, 0, 0.3);
}
section.header {
  width: 50%;
}
section.experience div#loading-content {
  width: 100%;
  text-align: center;
}

@media only screen and (max-width: 1080px) {
  section.header {
    width: 70%;
    padding: 5px 5px 20px 50px !important;
  }
  .btn-theme {
    position: relative;
  }
}

@media only screen and (max-width: 800px) {
  .btn-theme {
    float: left;
    margin: 10px 0px 10px 10px;
  }
  section {
    width: 100% !important;
    padding: 5px 5px 20px 50px !important;
    border-radius: 0%;
  }

  section.skills {
    padding: 5px 55px 20px 0px !important;
  }

  section img#user-photo {
    display: none;
  }

  section.experience table {
    width: 90% !important;
  }
  section.experience #exp-title {
    margin-top: 10px !important;
  }

  #university-logo {
    width: 256px !important;
  }
}
