@import url('https://fonts.googleapis.com/css?family=Ubuntu');
html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Ubuntu', sans-serif;
  background-color: #ccc;
  background-image: linear-gradient(#333 30%, #ccc 30%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container {
  height: auto;
}

section {
  width: 70%;
  background-color: #fff;
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
}

@media only screen and (max-width: 800px) {
  section {
    padding: 20px;
    width: 100%;
  }
  section img#user-photo {
    display: none;
  }
}
